:root {
  font-size: 10px;
  --bkg-body: rgb(90, 195, 236);
  --bkg-white: #f3f9fd;
  --bkg-results: rgb(255, 255, 255);
  --shadow-gray: #39586a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bkg-body);
}

.inputs {
  height: 100px;
}

.wrapper {
  width: 90%;
  max-width: 500px;
  font-size: 2rem;
  margin: auto;
  background-color: var(--bkg-white);
  height: 100vh;
  padding: 15px;
  box-shadow: 0.3rem 0 1rem var(--shadow-gray),
    -0.3rem 0 1rem var(--shadow-gray);
}

#inputform input {
  line-height: 2.5rem;
  font-size: 1.7rem;
  padding: 2px 7px;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
  display: block;
}

button {
  padding: 7px;
  margin: auto;
  display: block;
}

.copy img {
  width: 25px;
  height: 25px;
  float: right;
  margin-bottom: 5px;
}

#results {
  background-color: var(--bkg-results);
  padding: 10px;
  position: relative;
  /* margin-top: 3rem; */
  height: calc(100vh - 160px);
  overflow: auto;
  font-family: monospace;
  font-size: 1.7rem;
  clear: both;
}
